<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HI</h1>
    <!-- <ul> -->
        <!-- <% img.forEach(function(img) { %>
            <li><img src="<%= img.image %>" alt=""></li>
       <% }) %> -->

       <!-- <form action=""></form>
       <% pdf.forEach(function(pdf) { %>
            <li><a href="<%= pdf.file %>"></a></li>
       }%> -->
    
    <!-- </ul> -->

    <!-- <form action="/download"><button type="submit">Download</button></form> -->
</body>
</html>